* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



div#container {
    width: 100%;
    height: inherit;
    background-color: rgb(44, 44, 44);
    border: 2px solid black;
    color: white;
    text-align: center;
    font-size: 40px;
}

.sectionOne {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

.weBsite {
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:50px 10px; 
    margin: 20px;
    } 


.weBsite img{ 
    width: 400px; 
    height: 400px;
    padding-top: 20px;
    padding-bottom: auto;
} 
